.category-list {
  .category-list-item.category {
    position: relative;
    &:before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-color: var(--category-color);
      opacity: 0.2;
    }
  }
}
